src/matrix.o
src/matrixCatalogue.o
src/order_by.o
src/page.o
src/semanticParser.o
src/server
src/server.o
src/syntacticParser.o
src/table.o
src/tableCatalogue.o
src/executors/checksymmetry.o
src/executors/compute.o
src/executors/cross.o
src/executors/distinct.o
src/executors/export.o
src/executors/group_by.o
src/executors/index.o
src/executors/join.o
src/executors/list.o
src/executors/load.o
src/executors/print.o
src/executors/projection.o
src/executors/rename.o
src/executors/selection.o
src/executors/sort.o
src/executors/source.o
src/executors/transpose.o
src/bufferManager.o
src/clear.o
src/cursor.o
src/executor.o
src/log
src/logger.o
src/Makefile

